<div class="row">
  <div class="col-md-12">

    <div class="card card-plain">
      <div class="card-header card-header-primary">
        <h4 class="card-title mt-0"> Notifications</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="">
            <tr>
              <td class="bg-success text-white">
                <font size="3">
                  <i class="material-icons">keyboard_arrow_right</i>
                  You have the first focus session. Go to Program menu and start! </font>
              </td>
            </tr>
            <tr>
              <td class="bg-success text-white">
                <font size="3">
                  <i class="material-icons">keyboard_arrow_right</i>
                  Hey! You did very well. Please send a report to your coach. </font>
              </td>
            </tr>
            <tr>
              <td class="bg-info text-white">
                <font size="3">
                  <i class="material-icons">keyboard_arrow_right</i>
                  You got new focus session. Please come to program and check! </font>
              </td>
            </tr>
            <tr>
              <td class="bg-primary text-white">
                <font size="3">
                  <i class="material-icons">keyboard_arrow_left</i>
                  Hi David
                  I really like your exercises. I feel better after 3 weeks practicing.
                  Can you give me more exercises about increase muscle?
                  Thank you!</font>
              </td>
            </tr>


            <!--tr>
              <td class="bg-info text-white">
                <font size="3">
                  <i class="material-icons">keyboard_arrow_left</i>
                  Coach has validated your Focus session now you can view another set of sessions.</font>
              </td>
            </tr>
            <tr>
              <td class="bg-secondary text-white">
                <font size="3">
                  <i class="material-icons">keyboard_arrow_right</i>
                  Send your feedback report for the sessions.</font>
              </td>
            </tr-->
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <form action="#notify">
      <div class="form-group">
        <label for="comment">Notify coach</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
