<div class="row">
  <div class="col-md-12">

    <div class="card card-plain">
      <div class="card-header card-header-primary">
        <h4 class="card-title mt-0"> Notifications</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="">
            <tr>
              <td>
                <font size="3">
                  <i class="material-icons">keyboard_arrow_right</i>
                  Coach has been notified for the validation of the Focus session, wait for his reply.</font>
              </td>
            </tr>
            <tr>
              <td>
                <font size="3">
                  <i class="material-icons">keyboard_arrow_right</i>
                  Coach has validated your Focus session now you can view another set of sessions.</font>
              </td>
            </tr>
            <tr>
              <td>
                <font size="3">
                  <i class="material-icons">keyboard_arrow_right</i>
                  Send your feedback report for the sessions.</font>
              </td>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <form action="#notify">
      <div class="form-group">
        <label for="comment">Notify coach</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
