<div class="limiter">

  <div class="container-login100" style="background-image: url('assets/images/bg2.jpg');">
    <!--div class="login100-form-describe">
      <span class="login100-form-title2">Welcome to FEATHER</span>
    </div-->


    <div class="wrap-login100">
      <!--form class="login100-form validate-form"-->
        <span class="login100-form-logo">
          <img src="assets/images/logo.png" class="w-75">

        </span>

        <span class="login100-form-title p-b-34 p-t-27">
						Log in
					</span>

        <div class="wrap-input100 validate-input" data-validate = "Enter username">
          <input type="text" class="input100 " placeholder="User Name" #userName ngModel name="userName" required value="">
          <span class="focus-input100" data-placeholder="&#xf207;"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Enter password">
          <input type="password" class="input100" placeholder="Password" #password ngModel name="password" required value="">
          <span class="focus-input100" data-placeholder="&#xf191;"></span>
        </div>

        <div class="contact100-form-checkbox">
          <!--input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me" -->
          <label class="label text-warning">
            {{errorMess}}
          </label>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" (click)="checkLogin(userName.value, password.value)">
            Login
          </button>

        </div>

        <div class="text-center p-t-90" style="color:#fff">
          Create an account?
          <a href="/signup" style="color: pink">
            SIGN UP
          </a>
        </div>
      <!--/form-->
    </div>
  </div>
</div>

<!--div id="dropDownSelect1"></div-->

