
<div class="page-content">
  <div class="form-v6-content">
    <div class="form-left">
      <img src="assets/images/signup-bg.jpg" alt="form">
    </div>
    <form (ngSubmit) = "onSubmit(addForm)" #addForm = "ngForm">
      <div class="form-detail">
        <div class="form-row">
          <img src="../assets/images/logo.png" class="w-25 h-25">
          <h2>Register Form </h2>
        </div>
        <div class="form-row">
          <input type="text" class="input-text" placeholder="First name" [(ngModel)]="firstName" name="firstName" required value="">
        </div>
        <div class="form-row">
          <input type="text" class="input-text" placeholder="Last name" [(ngModel)]="lastName" name="lastName" required value="">
        </div>
        <div class="form-row">
          <input type="text" class="input-text " placeholder="User Name" [(ngModel)]="userName" name="userName" required value="">
        </div>
        <div class="form-row">
          <input type="password" class="input-text" placeholder="Password" [(ngModel)]="password" name="password" required value="">
        </div>
        <div class="form-row">
          <input type="password" class="input-text" placeholder="Repeat password" [(ngModel)]="repeatPassword" name="repeatPassword" required value="">
        </div>
        <div class="form-row">
          <select class="browser-default custom-select w-50" [(ngModel)]="purpose" name="purpose">
            <option [value]="1">Loose Weight</option>
            <option [value]="2">Increase Muscle</option>
            <option [value]="3">Keep Fit</option>
          </select>
        </div>
        <div>
          <p class="text-danger">{{lblNotify}}</p>
        </div>

        <div class="form-row-last">
          <input type="submit" name="register" class="register" value="Register">
        </div>
      </div>
    </form>
  </div>
</div>

<!--Alert warning dialog-->
<div class="modal fade" id="alertModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">

        <h4 class="modal-title">
          <i class="material-icons text-center text-warning" style="vertical-align: middle">{{icon}}</i>
          {{iconText}}</h4>
        <button type="button" class="close" (click)="hideAlert()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body w-100">
        <div class="col-md-12">

          <h4> {{ alertContent }}</h4>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <!--button type="button" class="btn btn-success" (click)="sendModal()">Yes</button-->
        <button type="button" class="btn btn-danger" (click)="hideAlert()">Close</button>

        <!-- this button is hidden, used to close from typescript -->
        <button type="button" id="close-alert" data-dismiss="modal" style="display: none">Close</button>
      </div>

    </div>
  </div>
</div>

<!--Sign up successful dialog-->
<div class="modal fade" id="signUpModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">

        <h4 class="modal-title">
          <i class="material-icons text-center text-warning" style="vertical-align: middle">success</i>
          Success</h4>
        <button type="button" class="close" (click)="hideSignUp()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body w-100">
        <div class="col-md-12">

          <h4> Register successful! </h4>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="goToSignIn()">GO TO LOGIN</button>

        <!-- this button is hidden, used to close from typescript -->
        <button type="button" id="close-signup" data-dismiss="modal" style="display: none">Close</button>
      </div>

    </div>
  </div>
</div>
