<div class="col-md-12">
  <div class="card">


    <div class="card-header card-header-warning">
      <h4 class="card-title ">List Programs</h4>
      <p class="card-category"></p>
    </div>


    <div class="card-body">

      <div class="container">
        <div class="row">

          <div class="col-sm">
            <a (click)="add()">
              <h5 class="text-success">
                <i class="material-icons text-center text-success">add</i>
                <b>Add new</b>
              </h5>
            </a>
          </div>

          <!--Search-->
          <div class="col-sm">
            <form class="form-inline w-75">
              <i class="material-icons text-center text-primary">search</i>
              <div [formGroup]="myGroup" style="width: 90%">
                <input formControlName="nameFC" style="width: 100%" type="text" class="form-control" placeholder="Search Program..." />
              </div>
            </form>

          </div>
        </div>

      </div>



      <cdk-virtual-scroll-viewport itemSize="0" style="height: 500px;">
        <table class="table table-hover">

          <thead class="">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <!--th>Point</th-->
            <th>Total Sessions</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>

            <!--<th>Focus Session</th>-->
          </tr>
          </thead>

          <tbody>
          <ng-container *cdkVirtualFor="let row of rows">
            <tr>
              <td>{{row.id}}</td>
              <td>{{row.name}}</td>
              <td style="width : 40%">{{row.description}}</td>
              <!--td>{{"100"}}</td-->
              <td> {{ row.numberOfSession}}</td> <!--style = "text-align:center"-->
              <td>
                <a (click)="view(row)">
                  <i class="material-icons text-center text-primary">visibility</i>
                </a>
              </td>
              <td>
                <a (click)="edit(row)">
                  <i class="material-icons text-center text-success">edit</i>
                </a>
              </td>
              <td>
                <a (click)="delete(row)">
                  <i class="material-icons text-center text-warning">delete</i>
                </a>
              </td>
              <!--<td> {{ row.focusSession }} </td>-->
            </tr>

          </ng-container>
          </tbody>

        </table>
      </cdk-virtual-scroll-viewport>


    </div>

  </div>
</div>


<!--View dialog-->
<div class="modal fade" id="viewModal">
  <div class="modal-dialog" style="min-width:70%">  <!--style="min-width:70%"-->
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title font-weight-bold">Program Details</h4>
        <button type="button" class="close" (click)="hideView()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body w-100">
        <div class="col-md-12">
          <table style="width: 100%">
            <tr>
              <td style="width: 20%">Program Name: &nbsp;</td>
              <td>
                <input type="text" placeholder="" class="form-control" value="{{prog ? prog.name : ''}}" name="">
              </td>
            </tr>
            <tr>
              <td>Total Sessions:</td>
              <td>
                <input type="text" placeholder="" class="form-control" value="{{prog ? prog.numberOfSession : ''}}"
                       name="">
              </td>
            </tr>
            <tr>
              <td>Points:</td>
              <td>
                <input type="text" placeholder="" class="form-control" value="0" name="">
              </td>
            </tr>
            <tr>
              <td>Description:</td>
              <td>
                <textarea type="text" placeholder="" class="form-control" name=""
                          rows="5">{{prog ? prog.description : ''}}</textarea>
              </td>
            </tr>

            <tr>
              <td></td>
              <td>
                <!--div>
                  <form class="form-inline w-100">
                    <i class="material-icons text-center text-primary">search</i>
                    <div [formGroup]="groupSession" style="width: 90%">
                      <input formControlName="sessNameFC" style="width: 50%" type="text" class="form-control" placeholder="Search Exercise..." />
                    </div>
                  </form>
                </div-->
              </td>
            </tr>
          </table>

          <!-- session table-->
          <!--<div style=" text-align:center; padding:12px 0; margin-bottom:24px"
               [formGroup]="groupSession">
            <input formControlName="sessNameFC" type="text" class="form-control" placeholder="Search Session..."/>
          </div>-->

          <cdk-virtual-scroll-viewport itemSize="0" style="height: 300px;">
            <table class="table table-hover">
              <thead class="">
              <tr>
                <th>ID</th>
                <!--th>Chose</th-->
                <th>Name</th>
                <th>Description</th>
                <th>Duration</th>
                <th>Level</th>
                <th>Focus Session</th>
                <!--<th>Point</th>-->

              </tr>
              </thead>
              <ng-container *cdkVirtualFor="let sessrow of sessrows">
                <tbody>
                <tr> <!-- *ngFor="let ex of listExercise"-->
                  <td>{{sessrow.id}}</td>
                  <!--<td style="text-align: center">
                    <input class="form-check-input" type="checkbox" value="">
                  </td>-->
                  <td>{{sessrow.name}}</td>
                  <td>{{sessrow.description}}</td>
                  <td>{{sessrow.duration}}</td>
                  <td>{{sessrow.level}}</td>
                  <td class="text-justify">
                    {{ sessrow.focusSession == 1 ? 'Yes' : '-' }}
                    <!--i class="material-icons">check</i-->
                  </td>
                  <!--<td>{{sessrow.point}}</td>-->

                </tr>
                </tbody>
              </ng-container>
            </table>
          </cdk-virtual-scroll-viewport>
          <!--end session table-->

        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <!--button type="button" class="btn btn-success" (click)="sendModal()">Yes</button-->
        <button type="button" class="btn btn-danger" (click)="hideView()">Close</button>

        <!-- this button is hidden, used to close from typescript -->
        <button type="button" id="close-modal" data-dismiss="modal" style="display: none">Close</button>
      </div>

    </div>
  </div>
</div>
<!--end View dialog-->

<!-- Add dialog -->
<div class="modal fade" id="addModal">
  <div class="modal-dialog" style="min-width:99%">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add new Program</h4>
        <button type="button" class="close" (click)="hideAdd()">&times;</button>
      </div>

      <!--<form (ngSubmit)="onSubmit(addForm)" #addForm="ngForm">-->
      <form (ngSubmit)="onSubmit(addForm)" #addForm="ngForm">
        <!-- Modal body -->
        <div class="modal-body w-100">
          <div class="col-md-12">

            <table style="width: 100%">

              <tr>
                <td style="width: 20%">Name:</td>
                <td>
                  <input type="text" placeholder="" class="form-control w-75" ngModel name="name" value="{{prog ? prog.name : ''}}" required>
                </td>
              </tr>

              <tr>
                <td>Description:</td>
                <td>
                  <textarea type="text" placeholder="" class="form-control w-75" ngModel name="description" value="{{prog ? prog.description : ''}}" rows="3"></textarea>
                </td>
              </tr>

              <tr>
                <td></td>
                <td style="padding-top: 15px">
                  <!--div>
                    <form class="form-inline w-100">
                      <i class="material-icons text-center text-primary">search</i>
                      <div [formGroup]="groupAllSession" style="width: 90%">
                        <input formControlName="sessAllFnFilter" style="width: 50%" type="text" class="form-control" placeholder="Search Session..." />
                      </div>
                    </form>
                  </div-->
                </td>
              </tr>

            </table>
            <!--end Program table-->

            <table class="w-100">
              <tr>
                <td>
                  <h5 class="text-info font-weight-bold">All Sessions:</h5>
                </td>
                <td>
                  <h5 class="text-success font-weight-bold">Selected Sessions:</h5>
                </td>
              </tr>
              <tr>
                <td class="w-50">
                  <!--Session table-->
                  <cdk-virtual-scroll-viewport itemSize="0" style="height: 450px; width: 100%">
                    <table class="table table-hover">
                      <thead class="">
                      <tr class="bg-info">
                        <th class="font-weight-bold">ID</th>
                        <th class="font-weight-bold">Choose</th>
                        <th class="font-weight-bold">Name</th>
                        <th class="font-weight-bold">Description</th>
                        <!--th class="font-weight-bold">Duration</th-->
                        <th class="font-weight-bold">Level</th>
                        <th class="font-weight-bold">Focus Session</th>

                      </tr>
                      </thead>

                      <tbody>
                      <ng-container *cdkVirtualFor="let sess of sessAllrows" >
                        <tr>
                          <td>{{sess.id}}</td>
                          <!--td style="text-align: center">
                            <input class="form-check-input" type="checkbox" (change)="onSelect($event, sess.id)">
                          </td-->
                          <td>
                            <button type="button" class="btn btn-primary btn-sm" (click)="selectSession(sess)">Select</button>
                          </td>
                          <td>{{sess.name}}</td>
                          <td>{{sess.description}}</td>
                          <!--td>{{sess.duration}}</td-->
                          <td>{{sess.level}}</td>
                          <!--<td>{{sess.focusSession}}</td>-->
                          <td class="text-justify">
                            {{ sess.focusSession == 1 ? 'Yes' : '-' }}
                            <!--i class="material-icons">check</i-->
                          </td>
                        </tr>
                      </ng-container>
                      </tbody>

                    </table>
                  </cdk-virtual-scroll-viewport>
                  <!--end Session table-->
                </td>
                <td class="w-50">
                  <!--Selected Session-->
                  <cdk-virtual-scroll-viewport itemSize="0" style="height: 450px; width: 100%">
                    <table class="table table-hover">
                      <thead class="">
                      <tr class="bg-success">
                        <th class="font-weight-bold">ID</th>
                        <th class="font-weight-bold">Remove</th>
                        <th class="font-weight-bold">Name</th>
                        <th class="font-weight-bold">Description</th>
                        <!--th class="font-weight-bold">Duration</th-->
                        <th class="font-weight-bold">Level</th>
                        <th class="font-weight-bold">Focus Session</th>
                      </tr>
                      </thead>
                      <tbody>
                      <ng-container *cdkVirtualFor="let sess of selectedSessionRows" >
                        <tr>
                          <td>{{sess.id}}</td>
                          <td>
                            <button type="button" class="btn btn-danger btn-sm" (click)="removeSession(sess)">Remove</button>
                          </td>
                          <td>{{sess.name}}</td>
                          <td>{{sess.description}}</td>
                          <!--td>{{sess.duration}}</td-->
                          <td>{{sess.level}}</td>
                          <td class="text-justify">
                            {{ sess.focusSession == 1 ? 'Yes' : '-' }}
                          </td>
                        </tr>
                      </ng-container>
                      </tbody>
                    </table>
                  </cdk-virtual-scroll-viewport>
                  <!--end Selected Session-->
                </td>
              </tr>
            </table>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" >Save</button>
          <button type="button" class="btn btn-info" (click)="reset(addForm)">Reset</button>
          <!--button type="button" class="btn btn-success" (click)="sendModal()">Yes</button-->
          <button type="button" class="btn btn-warning" (click)="hideAdd()">Close</button>

          <!-- this button is hidden, used to close from typescript -->
          <button type="button" id="close-modal-add" data-dismiss="modal" style="display: none">Close</button>
        </div>


      </form>

    </div>
  </div>
</div>
<!-- end Add dialog-->



<!--Alert dialog-->
<div class="modal fade" id="alertModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">

        <h4 class="modal-title">
          <i class="material-icons text-center text-warning" style="vertical-align: middle">{{icon}}</i>
          {{iconText}}</h4>
        <button type="button" class="close" (click)="hideAlert()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body w-100">
        <div class="col-md-12">

          <h4> {{ alertContent }}</h4>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <!--button type="button" class="btn btn-success" (click)="sendModal()">Yes</button-->
        <button type="button" class="btn btn-danger" (click)="hideAlert()">Close</button>

        <!-- this button is hidden, used to close from typescript -->
        <button type="button" id="close-alert" data-dismiss="modal" style="display: none">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- end Alert dialog-->

<!--Confirm delete dialog-->
<div class="modal fade" id="confirmDeleteModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">

        <h4 class="modal-title">
          <i class="material-icons text-center text-warning" style="vertical-align: middle">warning</i>
          Warning</h4>
        <button type="button" class="close" (click)="hideConfirmDelete()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body w-100">
        <div class="col-md-12">

          <h4> Are you sure delete this program <b>{{ programInfo }}</b> ?</h4>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="deleteProgram()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="hideConfirmDelete()">No</button>

        <!-- this button is hidden, used to close from typescript -->
        <button type="button" id="close-confirm-delete" data-dismiss="modal" style="display: none">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- end Confirm delete dialog-->


