<div class="sidebar" data-color="orange" data-background-color="white">

  <div class="logo bg-white">
      <span class="simple-text logo-normal">
        <img src="assets/images/logo.png" class="w-25">
        FEATHERS
      </span>
  </div>
  <div class="sidebar-wrapper bg-white">
    <ul class="nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink='/coach-dashboard' routerLinkActive='active'>
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item "> <!--(click)="select('Profile')" [ngClass]="{active: isActive('Profile')}" ngName="cusProfile"-->
        <a class="nav-link" routerLink='/coach-profile' routerLinkActive='active'  >
          <i class="material-icons">person</i>
          <p>Profile</p>
        </a>
      </li>
      <li class="nav-item " >
        <a class="nav-link" routerLink='/coach-exercise' routerLinkActive='active'>
          <i class="material-icons">directions_run</i>
          <p>Exercises</p>
        </a>
      </li>
      <li class="nav-item " >
        <a class="nav-link" routerLink='/coach-session' routerLinkActive='active'>
          <i class="material-icons">list</i>
          <p>Sessions</p>
        </a>
      </li>
      <li class="nav-item " > <!--(click)="select('Program')" [ngClass]="{active: isActive('Program')}"-->
        <a class="nav-link" routerLink='/coach-program' routerLinkActive='active'>
          <i class="material-icons">content_paste</i>
          <p>Programs</p>
        </a>
      </li>
      <li class="nav-item " >
        <a class="nav-link" routerLink='/coach-customer' routerLinkActive='active'>
          <i class="material-icons">people</i>
          <p>Customer</p>
        </a>
      </li>

      <li class="nav-item " >
        <a class="nav-link" routerLink='/coach-notify' routerLinkActive='active'>
          <i class="material-icons">notifications</i>
          <p>Notifications <!--img src="assets\images\1.png " style="width: 20px"--></p>

        </a>
      </li>

      <li class="nav-item " >
        <a class="nav-link" (click)="logOut()" routerLinkActive='active'>
          <i class="material-icons">power_settings_new</i>
          <p>Log Out</p>
        </a>
      </li>
      <!--li *ngFor="let n of list" (click)="select(n)" [ngClass]="{active: isActive(n)}">
        <a>{{n}}</a>
      </li-->

      <li class="nav-item active-pro ">
        <a class="nav-link" href="/coach-dashboard">
          <i class="material-icons">bubble_chart</i>
          <p>feathers team</p>
        </a>
      </li>
    </ul>
  </div>
</div>
